---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mrsty Portfolio">
  <section class="flex flex-row w-full text-white gap-10 mt-5 h-[50rem]">
    <div class="bg-gradient-to-r from-primary to-primary/75 w-2/3 rounded-3xl">
    </div>

    <div class="bg-primary/90 w-1/3 rounded-3xl"></div>
  </section>
</Layout>
