---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <section class="flex flex-row w-full text-white gap-10 mt-5 h-[50rem]">
    <div class="bg-gradient-to-r from-primary to-primary/75 w-full rounded-3xl">
    </div>
  </section>
</Layout>
