---

---

<div
  class="flex flex-row py-7 w-full h-8 items-center justify-end bg-primary px-5 rounded-2xl mt-3"
>
  <div class="flex gap-x-5 items-center font-bold text-xl">
    <a class="hover:text-secondary/75 text-secondary" href="/" about="_blank"
      >Home</a
    >
    <a
      class="hover:text-secondary/75 text-secondary"
      href="/projects"
      about="_blank">Projects</a
    >
    <a
      class="hover:text-secondary/75 text-secondary"
      href="/contact"
      about="_blank">Contact me</a
    >
  </div>
</div>
